.sign {
  margin-left: 650px;
  align-items: center;
  margin-top: 200px;

  h1 {
    height: 40px;
  }

  .input {
    height: 30px;
    margin-left: -50px;
    width: 200px;
    background-color: rgb(200, 203, 200);
  }

  #up {
    height: 50px;
  }

  #password {
    height: 50px;
  }

  .btn {
    background-color: #fff;
    border: 1px solid;
    height: 30px;
    width: 60px;
    margin-left: -45px;
  }
}
